<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello {{ name }}</h1>
    <div id="content"></div>
    <script>
      async function getData() {
        const response = await fetch("/projects");
        const data = await response.json();
        console.log(data);
        for (project of data.projects) {
          const element = `<p>${project.name}</p>`;
          document.getElementById("content").insertAdjacentHTML("beforeend", element);
        }
      }
      getData();
    </script>
  </body>
</html>
